<section class="bg-gray-200">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto min-h-screen lg:py-0">
        <div class="w-full bg-gray-50 rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-dark text-center">
                    Crear Usuario
                </h1>
                <form class="w-full" [formGroup]="registerForm">
                    <div>
                        <label for="fullName" class="block mb-1 text-sm font-medium text-gray-900 dark:text-dark">Nombre Completo</label>
                        <input matInput formControlName="fullName" type="text" id="fullname" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-3 dark:border-gray-300 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Nombre Completo">
                        <!-- <span *ngIf="registerForm.controls['fullName'].getError('required') &&
                        registerForm.controls['fullName'].touched" class="form-text text-red-500">
                        Este campo es requerido
                        </span>
                        <span *ngIf="isvalidField('fullName')" class="form-text text-danger"></span> -->
                        <span *ngIf="isvalidField('fullName')" class="form-text text-red-500">
                            {{getFieldError('fullName')}}
                        </span>
                    </div>
                    <div class="mt-5">
                        <label for="email" class="block mb-1 text-sm font-medium text-gray-900 dark:text-dark">Correo Electrónico</label>
                        <input matInput formControlName="email" type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-3 dark:border-gray-300 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="nombre@estevezjor.mx">
                        <span *ngIf="isvalidField('email')" class="form-text text-red-500">
                            {{getFieldError('email')}}
                        </span>
                    </div>
                    <div class="mt-5">
                        <label for="password" class="block mb-1 text-sm font-medium text-gray-900 dark:text-dark">Contraseña</label>
                        <div class="relative">
                            <input matInput [type]="canShowPassword ? 'text' : 'password'" formControlName="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-3 dark:border-gray-300 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <button type="button" class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5" (click)="canShowPassword = !canShowPassword">
                            @if(canShowPassword){
                                <svg class="w-[25px] h-[25px] text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3.933 13.909A4.357 4.357 0 0 1 3 12c0-1 4-6 9-6m7.6 3.8A5.068 5.068 0 0 1 21 12c0 1-3 6-9 6-.314 0-.62-.014-.918-.04M5 19 19 5m-4 7a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                                </svg>
                            } @else {
                                <svg class="w-[25px] h-[25px] text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-width="2" d="M21 12c0 1.2-4.03 6-9 6s-9-4.8-9-6c0-1.2 4.03-6 9-6s9 4.8 9 6Z"/>
                                <path stroke="currentColor" stroke-width="2" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                                </svg>
                            }
                            </button>
                        </div>
                        <span *ngIf="isvalidField('password')" class="form-text text-red-500">
                            {{getFieldError('password')}}
                        </span>
                        <div class="form-text text-red-500" *ngIf="registerForm.errors?.['PasswordNoMatch']">
                            Las contraseñas no coinciden.
                        </div>
                    </div>
                    <div class="mt-5">
                        <label for="confirm-password" class="block mb-1 text-sm font-medium text-gray-900 dark:text-dark">Confirmar Contraseña</label>
                        <div class="relative">
                            <input matInput [type]="canShowPasswordConfirm ? 'text' : 'password'" formControlName="confirmPassword" id="confirmPassword" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-3 dark:border-gray-300 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <button type="button" class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5" (click)="canShowPasswordConfirm = !canShowPasswordConfirm">
                                @if(canShowPasswordConfirm){
                                    <svg class="w-[25px] h-[25px] text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3.933 13.909A4.357 4.357 0 0 1 3 12c0-1 4-6 9-6m7.6 3.8A5.068 5.068 0 0 1 21 12c0 1-3 6-9 6-.314 0-.62-.014-.918-.04M5 19 19 5m-4 7a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                                    </svg>
                                } @else {
                                    <svg class="w-[25px] h-[25px] text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-width="2" d="M21 12c0 1.2-4.03 6-9 6s-9-4.8-9-6c0-1.2 4.03-6 9-6s9 4.8 9 6Z"/>
                                    <path stroke="currentColor" stroke-width="2" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                                    </svg>
                                }
                            </button>
                        </div>
                        <span *ngIf="isvalidField('confirmPassword')" class="form-text text-red-500">
                            {{getFieldError('confirmPassword')}}
                        </span>
                    </div>
                    <div class="flex justify-center mt-5">
                        <button mat-flat-button color="primary" [disabled]="registerForm.invalid" (click)="register()">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>
