<div class="container mx-auto w-full m-5">
    <form>
        <div class="flex flex-col p-4">
            <!-- Nombre -->
            <mat-form-field appearance="fill">
                <mat-label>Nombre</mat-label>
                <input type="text" matInput placeholder="Ingrese el nombre del departamento..." />
            </mat-form-field>

            <!-- Dirección a la que pertenece -->
            <mat-form-field appearance="fill">
                <mat-label>Dirección</mat-label>
                <mat-select>
                    <ng-container *ngFor="let direction of directions">
                        <mat-option [value]="direction.id">
                            {{ direction.name }}
                        </mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>

            <!-- Boton -->
            <button mat-raised-button 
                    color="primary" 
                    type="submit">
                Guardar
            </button>

        </div>
    </form>
</div>