<div class="min-h-screen flex items-center justify-center bg-gray-200 p-4">
  <div class="bg-white shadow-lg rounded-lg flex flex-col md:flex-row max-w-4xl w-full h-auto">
    <!-- Card 1: Mensaje de bienvenida -->
    <div
      class="w-full md:w-1/2 bg-green-500 text-white p-8 flex flex-col items-center justify-center rounded-t-lg md:rounded-l-lg md:rounded-t-none">
      <h1 class="text-3xl md:text-5xl font-extrabold mb-4 tracking-wide">Estevez.Jor</h1>
      <p class="text-base md:text-lg">Sistema para gestión de almacén.</p>
    </div>
    <!-- Card 2: Formulario de Login -->
    <div class="w-full md:w-1/2 p-6 md:p-8 flex flex-col justify-center bg-gray-50">
      <h1 class="text-2xl md:text-3xl font-extrabold mb-6 text-center">Iniciar Sesión</h1>
      <form class="w-full">
        <div class="mb-4">
          <label for="username" class="block text-base md:text-lg font-medium text-gray-700">Nombre de Usuario</label>
          <input type="text" id="username"
            class="mt-1 block w-full p-3 border border-gray-300 rounded-md shadow-sm focus:ring-green-500 focus:border-green-500 sm:text-base"
            placeholder="Tu nombre de usuario">
        </div>
        <div class="mb-4 relative">
          <label for="password" class="block text-base md:text-lg font-medium text-gray-700">Contraseña</label>
          <div class="relative">
            <input type="password" id="password"
              class="mt-1 block w-full p-3 pr-10 border border-gray-300 rounded-md shadow-sm focus:ring-green-500 focus:border-green-500 sm:text-base"
              placeholder="Tu contraseña">
            <button type="button" class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">
              <svg class="h-5 w-5 text-gray-400" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M2.458 12C3.732 7.943 7.294 5 12 5c4.706 0 8.268 2.943 9.542 7-.31 1.256-.76 2.442-1.34 3.5a9.956 9.956 0 01-8.202 5 9.956 9.956 0 01-8.202-5A10.03 10.03 0 012.458 12z" />
              </svg>
            </button>
          </div>
        </div>
        <div class="flex justify-center mb-4">
          <button type="submit" routerLink="/dashboard"
            class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-6 rounded focus:outline-none focus:shadow-outline">Ingresar</button>
        </div>
      </form>
      <p class="mt-4 text-center text-sm text-gray-600">Si olvido su contraseña pongase en contacto con <a
          href="mailto:soporte@estevezjor.mx" class="text-green-500">soporte.mx</a></p>
    </div>
  </div>
</div>
