
<div class="container mx-auto w-full m-5">
  <form [formGroup]="managerForm" (ngSubmit)="onSubmit()">
    <div class="flex flex-col p-4">
      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input type="text"
                matInput
                placeholder="Ingrese el nombre del gerente..."
                formControlName="fullName"/>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email"
                matInput
                placeholder="Ingrese email..."
                formControlName="email"/>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input type="password"
                matInput
                placeholder="Ingrese contraseña..."
                formControlName="password"/>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Verificar contraseña</mat-label>
        <input type="password"
                matInput
                placeholder="Verifique contraseña..."
                formControlName="password"/>
      </mat-form-field>
      <!-- Boton -->
      <button mat-raised-button
                color="primary"
                type="submit"
                [disabled]="managerForm.invalid">
              Guardar
      </button>
    </div>
</form>
</div>
