
<div class="container mx-auto p-4">
  <div class="bg-white shadow-md rounded-lg p-6 max-w-md mx-auto">
    <form  class="space-y-4">

      <!-- Nombre Completo -->
      <div class="w-full mb-4">
        <label for="fullName" class="block text-sm font-medium text-gray-700">Nombre Completo</label>
        <input id="fullName" type="text" formControlName="fullName" placeholder="Ingrese su nombre completo"
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
      </div>

            <!-- Email -->
      <div class="w-full mb-4">
        <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
        <input id="email" type="email" formControlName="email" placeholder="Ingrese su email"
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
      </div>

      <!-- Contraseña -->
      <div class="w-full mb-4">
        <label for="password" class="block text-sm font-medium text-gray-700">Contraseña</label>
        <input id="password" type="password" formControlName="password" placeholder="Ingrese su contraseña"
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
      </div>

      <!-- Repetir Contraseña -->
      <div class="w-full mb-4">
        <label for="repetpassword" class="block text-sm font-medium text-gray-700">Repetir Contraseña</label>
        <input id="repetpassword" type="password" formControlName="repetpassword" placeholder="Repita su contraseña"
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
      </div>

      <!-- Botón de Enviar -->
      <div class="flex justify-center">
        <button mat-raised-button color="primary" type="submit">
          Crear
        </button>
      </div>

    </form>
  </div>
</div>
