<div class="m-7 mt-6 mb-6">
    <div class="flex justify-center">
        <mat-card *ngIf="project" class="w-6/12" appearance="outlined">
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title>Proyecto</mat-card-title>
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
                <table class="min-w-full divide-y divide-gray-200">
                <tbody class="bg-white divide-y divide-gray-200">
                    <tr>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">Nombre</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                            {{ project.name }}
                        </td>
                    </tr>
                    <tr>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">Cliente</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                            {{ project.customer.name }}
                        </td>
                    </tr>
                    <tr>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">Empresa</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                            {{ project.enterprise.name }}
                        </td>
                    </tr>
                </tbody>
                </table>
            </mat-card-content>
        </mat-card>
    </div>
</div>