<div class="flex">
        <div class="flex-none w-64">
                <mat-card appearance="outlined">
                        <mat-card-content>
                                <canvas baseChart
                                        [data]="PieChartData"
                                        [type]="'pie'"
                                        width="50"
                                        height="50">
                                </canvas>
                        </mat-card-content>
                </mat-card>
        </div>
</div>
