<div class="container mx-auto w-full m-5">
    <div class="border-solid border-2 border-gray-200 p-4 font-bold text-xl">Perfil</div>
    <div class="border-solid border-2 border-l-gray-200 border-b-gray-200 border-r-gray-200 pt-3 text-center">
        <div class="mx-auto w-64 text-center ">
            <label for="dropzone-file" class="flex flex-col items-center justify-center h-64 border-2 border-gray-300 border-dashed rounded-full cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                <div class="relative w-64 flex flex-col items-center justify-center pt-5 pb-6">
                    <img class="w-64 h-64 hover:bg-gray-200 opacity-60 rounded-full  flex justify-center items-center cursor-pointer transition duration-500" src="http://www.gravatar.com/avatar/2acfb745ecf9d4dccb3364752d17f65f?s=260&d=mp" alt="" />
                    <img class="w-64 h-64 rounded-full absolute" src="https://images.pexels.com/photos/2690323/pexels-photo-2690323.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" />
                    <div class="w-64 h-64 group hover:bg-gray-200 opacity-60 rounded-full absolute flex justify-center items-center cursor-pointer transition duration-300">
                        <img class="hidden group-hover:block w-12 text-gray-500 dark:text-gray-400" src="https://www.svgrepo.com/show/33565/upload.svg" alt="" /><br><br>
                        <!-- <p class="hidden group-hover:block mb-2 text-sm text-dark-500 dark:text-dark-400">Cambiar Imagen de Perfil</p> -->
                    </div>
                </div>
                <input id="dropzone-file" type="file" class="hidden" />
            </label>
        </div>
    </div>
</div>