<!-- <mat-card>
    <mat-card-header>
        <mat-card-title>Perfil</mat-card-title>
        <mat-card-subtitle>End</mat-card-subtitle>
    </mat-card-header>
</mat-card> -->

<div class="container mx-auto">
    <div class="border-solid border-2 border-gray-200 p-4 font-bold text-xl">Perfil</div>
    <div class="border-solid border-2 border-l-gray-200 border-b-gray-200 border-r-gray-200 pt-3 text-center">
        <p>Foto de Perfil</p>
        <p><input type="file" name="" id="" class="rounded-full" value="James Bhatta"></p>
        <p><input type="text" name="" id="" class="rounded-md border-0" value="James Bhatta"></p>
    </div>
</div>