<div class="bg-gray-100 min-h-screen w-full p-4">

    <app-top-toolbar [title]="'Almacén'"></app-top-toolbar>

    <!-- Top Icons -->
    <div class="flex justify-center">

        <div class="w-96 p-4 m-4 border rounded-lg flex items-center cursor-pointer shadow-lg bg-white">
            <div class="flex items-center justify-center w-10 h-10 rounded-full bg-orange-500">
                <mat-icon class="text-white text-4">view_list</mat-icon>
            </div>
            <div class="mt-3">
                <p class="text-sm font-semibold pl-6 mt-4">Catálogo</p>
            </div>
        </div>

        <div class="w-96 p-4 m-4 border rounded-lg flex items-center cursor-pointer shadow-lg bg-white">
            <div class="flex items-center justify-center w-10 h-10 rounded-full bg-green-500">
                <mat-icon class="text-white text-4">book</mat-icon>
            </div>
            <div class="mt-3">
                <p class="text-sm font-semibold pl-6 mt-4">Movimientos</p>
            </div>
        </div>

    </div>

    <!-- Main Content -->
    <div class="w-full bg-white p-2 border rounded-lg">

        <div class="flex items-center justify-between">
            <button class="flex items-center border border-teal-400 text-teal-400 group hover:bg-teal-400 px-4 py-2 rounded">
                <mat-icon class="text-teal-400 group-hover:text-white">add_shopping_cart</mat-icon>
                <span class="ml-2 group-hover:text-white">Entrada</span>
            </button>
        </div>

        <!-- Información del almacen -->
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="my-14">

            <mat-tab>
                <ng-template  mat-tab-label>
                    <span class="text-teal-400">Productos Almacén General</span>
                </ng-template>

                <app-warehouse-general-products></app-warehouse-general-products>

            </mat-tab>

            <!-- Entradas Almacen General -->
            <mat-tab>
                <ng-template mat-tab-label>
                    <span class="text-teal-400">Entradas Almacen General</span>
                </ng-template>

                <app-warehouse-general-entry></app-warehouse-general-entry>

            </mat-tab>

            <!-- Salidas Almacen General -->
            <mat-tab>
                <ng-template mat-tab-label>
                    <span class="text-teal-400">Salidas Almacen General</span>
                </ng-template>
                
                <app-warehouse-general-exit></app-warehouse-general-exit>

            </mat-tab>

            <!-- Devoluciones -->
            <mat-tab>
                <ng-template mat-tab-label>
                    <span class="text-teal-400">Devoluciones</span>
                </ng-template>
                Content 2
            </mat-tab>

        </mat-tab-group>

    </div>

</div>