<!-- Card para "Últimos movimientos" -->
<div class="w-full p-4 bg-white border border-gray-200 mb-2">
  <p class="font-bold text-lg dark:text-gray-950">Últimos movimientos</p>
</div>

<!-- Card principal -->
<div class="w-full p-6 bg-white border border-gray-200  mb-4">
  <p>
    BATERIA B 22/5.2 LI-ION (HILTI) B22/5.2 <br>
    Marca: HILTI <br>
    Número de serie: 713430303 <br>
    Número interno: 56
  </p>

  <!-- Card interna para cada entrada del timeline -->
  <div class="w-full p-6 bg-white border border-gray-200  mb-4">

    <div class="relative border-s border-gray-200 dark:border-gray-700">
      <span
        class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
        <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
          fill="currentColor" viewBox="0 0 20 20">
          <path
            d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
        </svg>
      </span>

      <div class="ml-8">
        <p class="font-bold text-lg dark:text-gray-950">Salida-almacen Finalizada</p>
        <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Miguel Angel De La
          Puente Ruiz Empleado # 10404</time>
        <p class="text-base font-normal text-gray-500 dark:text-gray-400">Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Assumenda dolorem accusamus officia. Consequuntur, eveniet expedita magni aspernatur
          possimus beatae placeat, ad ut modi esse, earum aperiam ullam eligendi? Error, id.</p>
      </div>
    </div>

    <div class="relative border-s border-gray-200 dark:border-gray-700">
      <span
        class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
        <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
          fill="currentColor" viewBox="0 0 20 20">
          <path
            d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
        </svg>
      </span>

      <div class="ml-8">
        <p class="font-bold text-lg dark:text-gray-950">Salida-almacen Finalizada</p>
        <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Miguel Angel De La
          Puente Ruiz Empleado # 10404</time>
        <p class="text-base font-normal text-gray-500 dark:text-gray-400">Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Assumenda dolorem accusamus officia. Consequuntur, eveniet expedita magni aspernatur
          possimus beatae placeat, ad ut modi esse, earum aperiam ullam eligendi? Error, id.</p>
      </div>
    </div>

    <div class="relative border-s border-gray-200 dark:border-gray-700">
      <span
        class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
        <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
          fill="currentColor" viewBox="0 0 20 20">
          <path
            d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
        </svg>
      </span>

      <div class="ml-8">
        <p class="font-bold text-lg dark:text-gray-950">Salida-almacen Finalizada</p>
        <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Miguel Angel De La
          Puente Ruiz Empleado # 10404</time>
        <p class="text-base font-normal text-gray-500 dark:text-gray-400">Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Assumenda dolorem accusamus officia. Consequuntur, eveniet expedita magni aspernatur
          possimus beatae placeat, ad ut modi esse, earum aperiam ullam eligendi? Error, id.</p>
      </div>
    </div>

    <div class="relative border-s border-gray-200 dark:border-gray-700">
      <span
        class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
        <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
          fill="currentColor" viewBox="0 0 20 20">
          <path
            d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
        </svg>
      </span>

      <div class="ml-8">
        <p class="font-bold text-lg dark:text-gray-950">Salida-almacen Finalizada</p>
        <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Miguel Angel De La
          Puente Ruiz Empleado # 10404</time>
        <p class="text-base font-normal text-gray-500 dark:text-gray-400">Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Assumenda dolorem accusamus officia. Consequuntur, eveniet expedita magni aspernatur
          possimus beatae placeat, ad ut modi esse, earum aperiam ullam eligendi? Error, id.</p>
      </div>
    </div>

  </div>
</div>
