<div class="mt-4">
    <app-reusable-table-backend [showSearchWithCreate]="true" 
                                [buttonText]="'Nuevo Departamento'"
                                [data]="dataList"
                                [columns]="tableColumns"
                                [config]="tableConfig"
                                (onClickInCreate)="onClickInCreate()"
                                (onTableAction)="onTableAction($event)"
                                (onPaginationChange)="onPaginationChange($event)"/>
</div>