<mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon class="ml-2">local_convenience_store</mat-icon>
                Activos
            </mat-panel-title>
        </mat-expansion-panel-header>

        <app-assets-products></app-assets-products>

    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon class="ml-2">build</mat-icon>
                Herramientas
            </mat-panel-title>
        </mat-expansion-panel-header>

        <app-tools-products></app-tools-products>

    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon class="ml-2">oil_barrel</mat-icon>
                Combustibles
            </mat-panel-title>
        </mat-expansion-panel-header>

        <app-fuel-products></app-fuel-products>

    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon class="ml-2">lock_person</mat-icon>
                Seguridad & Higiene                
            </mat-panel-title>
        </mat-expansion-panel-header>

        <app-safety-hygiene-products></app-safety-hygiene-products>

    </mat-expansion-panel>
</mat-accordion>
  