<div class="my-4">

    <button (click)="accordion.openAll()"
            mat-stroked-button
            class="mx-4">
      <mat-icon>expand</mat-icon>
      Expandir Todo
    </button>

    <button (click)="accordion.closeAll()"
            mat-stroked-button
            color="warn"
            class="mx-4">
      <mat-icon>close_fullscreen</mat-icon>
      Colapsar Todo
    </button>

</div>

<mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Almacén General
            </mat-panel-title>
            <mat-panel-description>
                Activos
                <mat-icon class="ml-2">local_convenience_store</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field>
        <mat-label>First name</mat-label>
        <input matInput>
        </mat-form-field>

        <mat-form-field>
        <mat-label>Age</mat-label>
        <input matInput type="number" min="1">
        </mat-form-field>

    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Almacén General
            </mat-panel-title>
            <mat-panel-description>
                Herramientas
                <mat-icon class="ml-2">build</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field>
        <mat-label>First name</mat-label>
        <input matInput>
        </mat-form-field>

        <mat-form-field>
        <mat-label>Age</mat-label>
        <input matInput type="number" min="1">
        </mat-form-field>

    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Almacén General
            </mat-panel-title>
            <mat-panel-description>
                Combustibles
                <mat-icon class="ml-2">oil_barrel</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field>
        <mat-label>First name</mat-label>
        <input matInput>
        </mat-form-field>

        <mat-form-field>
        <mat-label>Age</mat-label>
        <input matInput type="number" min="1">
        </mat-form-field>

    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Almacén General
            </mat-panel-title>
            <mat-panel-description>
                Seguridad & Higiene
                <mat-icon class="ml-2">lock_person</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field>
        <mat-label>First name</mat-label>
        <input matInput>
        </mat-form-field>

        <mat-form-field>
        <mat-label>Age</mat-label>
        <input matInput type="number" min="1">
        </mat-form-field>

    </mat-expansion-panel>
</mat-accordion>
  