<div class="m-8">

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Listado de columnas -->
    <ng-container *ngFor="let column of tableColumns" [matColumnDef]="column.def">
      <th mat-header-cell *matHeaderCellDef> {{ column.label }} </th>
      <td mat-cell *matCellDef=""> dataa </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

</div>