<div class="m-8 mat-elevation-z8">

  <!--Excel Button && Filter-->
  <div *ngIf="tableConfig?.showFilter || tableConfig?.showExcelButton" 
       class="flex justify-between items-center pt-2">

    <button *ngIf="tableConfig?.showExcelButton" 
            mat-stroked-button
            class="mx-4">
      <mat-icon svgIcon="excel" class="mr-2"></mat-icon>
      Exportar a Excel
    </button>

    <mat-form-field *ngIf="tableConfig?.showFilter" 
                    [ngClass]="{'w-full': !tableConfig?.showExcelButton, 'flex-1': tableConfig?.showExcelButton}"
                    class="mr-2">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Buscar..." #input />
    </mat-form-field>
  </div>  

  <mat-divider></mat-divider>

  <table mat-table [dataSource]="dataSource" matSort  class="mat-elevation-z8">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="$event ? toggleAllRows() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
          [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>

      <td mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null; onSelect()"
          [checked]="selection.isSelected(row)"
          [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button
                color="primary"
                *ngIf="isActionAllowed(TABLE_ACTION.SHOW)" 
                (click)="onShow(row) ">
          <mat-icon>remove_red_eye</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Basic" 
                *ngIf="isActionAllowed(TABLE_ACTION.EDIT)" 
                (click)="onEdit(row) ">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Basic"
                *ngIf="isActionAllowed(TABLE_ACTION.DELETE)"
                (click)="onDelete(row)">
          <mat-icon>person</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Listado de columnas -->
    <ng-container *ngFor="let column of tableColumns" [matColumnDef]="column.def">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 
        {{ column.label }} 
      </th>
      <td mat-cell *matCellDef="let row"> {{row | columnValue: column}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- No coincide busqueda -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell pl-4 pt-2" [colSpan]="displayedColumns.length">
        No se encontró información con: "{{ currentFilterValue }}"
      </td>
    </tr>

  </table>

  <!-- Paginador -->
  <ng-container *ngIf="tableConfig?.isPaginable">    
    <mat-paginator [length]="totalItems" 
                   [pageSize]="8" 
                   [pageSizeOptions]="[10]" 
                   (page)="onPaginateChange( $event )"
                  showFirstLastButtons>
    </mat-paginator>
  </ng-container>

</div>
