<div class="m-7 mt-6 mb-6">
    <div class="flex justify-center">
        <mat-card *ngIf="ceo" class="w-6/12" appearance="outlined">
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title>Email: {{ ceo.email }}</mat-card-title>
                    <mat-card-subtitle>Nombre: {{ ceo.fullName }}</mat-card-subtitle>
                    <img mat-card-sm-image class="rounded-lg" src="http://www.gravatar.com/avatar/2acfb745ecf9d4dccb3364752d17f65f?s=260&d=mp" >
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
                <table class="min-w-full divide-y divide-gray-200" ngxPermissionsOnly="ceo">
                    <tbody class="bg-white divide-y divide-gray-200">
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">ID</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                {{ ceo.id }}
                            </td>
                        </tr>
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">Email</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                {{ ceo.email }}
                            </td>
                        </tr>
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">Nombre</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                {{ ceo.fullName }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </mat-card-content>
        </mat-card>
    </div>
</div>
